<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/e†c/config.xsd">
    <preference for="Magento\Catalog\Model\Product"
                type="Jbcommerce\Helloworld\Model\Rewrite\Catalog\Product" />
</config>
