<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <carriers>
            <helloworld>
                <active>1</active>
                <sallowspecific>0</sallowspecific>
                <model>Jbcommerce\Helloworld\Model\Carrier\Shipping</model>
                <name>Helloworld Shipping Method</name>
                <price>10.00</price>
                <title>Helloworld Shipping Method</title>
                <specificerrmsg>This shipping method is not available. To use this shipping method, please contact us.</specificerrmsg>
            </helloworld>
        </carriers>
    </default>
</config>
